/*
 # login prompt #
*/

/* ===================================================
  All Screen Sizes
=================================================== */

.loginprompt {
  align-items: center;
  display: flex;
  min-height: 100vh;
  text-align: center;
}

/* ===================================================
  END All Screen Sizes
=================================================== */
