/*
 # button #
*/

/* ===================================================
  All Screen Sizes
=================================================== */

.button {
  background-color: $colorTeal;
  border: 2px solid $colorTeal;
  border-radius: $borderRadius;
  color: $colorWhite;
  cursor: pointer;
  margin-right: $spacingMd;
  padding: $spacingSm $spacingMd;
  text-decoration: none;
  transition: background-color $transitionDefault, 
              border-color $transitionDefault,
              color $transitionDefault;

  &:hover {
    background-color: darken($colorTeal, 5%);
    border-color: darken($colorTeal, 5%);
    color: $colorWhite;
  }

  &::last-child {
    margin-right: 0;
  }

  &___secondary {
    background-color: $colorWhite;
    color: $colorTeal;

    &:hover {
      background-color: darken($colorWhite, 5%);
      border-color: darken($colorTeal, 5%);
      color: darken($colorTeal, 5%);
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */
