/*
 # app header #
*/

/* ===================================================
  All Screen Sizes
=================================================== */

.appheader {

  &_brand {
    font-weight: 900;
    font-size: 1.5rem;
  }
  &_nav {
    flex-direction: row;
  }
  &_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */
